@using BlazorServerLearning.DataAccess;
@using BlazorServerLearning.Models;
@page "/get-item"
@inject ItemDbContext dbContext


<form>
    <InputNumber @bind-Value="@Id"></InputNumber>
    <button type="button" onclick="GetById">Get</button>
</form>

@if (Item is not null)
{
    <p>@Item.Id</p>
    <p>@Item.Name</p>
    <p>@Item.SomeValue</p>
}



@code {
    int Id { get; set; }

    Item Item { get; set; }

    void GetById()
    {
        Console.WriteLine("test");
       // Item = dbContext.Items.FirstOrDefault(i => i.Id == id);
    }

}
